@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
    height: 400px;
}

#form {
    width: 400px;
    height: 400px;
}


/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font: normal 18pt arial;
    font-family: 'Noto Serif', serif;
    color: #355588;
    text-shadow: white 0.1em 0.1em 0.2em;
}

body {
    background-image: url(../image/bg-form.jpg);
    background-size: cover;
    background-position: center;
}

header {
    text-align: center;
}

h1 {
    margin: 0;
}

label {
    display: flex;
    flex: 1;
    text-align: center;
    text-shadow: #355588 0.1em 0.1em 0.2em
}

input {
    background: rgba(255, 255, 255, 0.5);
    width: 300px
}

#form {
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-align: center;
}

button {
    margin-top: 10px;
    width: 309px;
    height: 30px;
    background: #355588;
    color: white;
    font-weight: bold;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 55px)
}